@font-face {
  font-family: "Hanken";
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');

  font-weight: 500;
  font-style: normal;
}


/* =============================================================================
  #GENERAL
============================================================================= */
body {
  background-color: white;
  

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Hanken", Arial, Helvetica, sans-serif;
  height: 100svh;
}

main {
  background-color: white;
  box-shadow: 10px 10px 40px hsl(241, 100%, 89%) ;

  display: flex;
  justify-content: center;

  border-radius: 30px;
  overflow: hidden;

  width: 70%;
  max-width: 600px;
}

section {
  /* background-color: yellow; */

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  /* justify-content: center; */

}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h2, h3, h4{
  font-style: normal;
  /* margin: 24px; */
  font-weight: 700;
  font-size: 18px;
}

h2 {
  color:  hsl(241, 100%, 89%);
  margin-bottom: 40px;
}

h3 {
  font-weight: 800;
}

h4 {
  /* font-weight: 700; */
  margin-bottom: 20px;
}

p {
  font-size: 16px;

  color: hsl(241, 100%, 89%);
}

span {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}
/* =============================================================================
  #CONTENT
============================================================================= */

.left {
  /* background-color: blue; */
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
  color: white;
  width: 50%;
  /* height: 450px; */

  /* border-radius: 30px; */
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

}

  .left h2{
    margin-bottom: 0;
  }

.circle {
  /* background-color: brown; */
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 40px 0;
  gap: 15px; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-description {
  /* background-color: red; */
  text-align: center;
}


.right {
  /* background-color: green; */
  width: 50%;
  /* height: 450px; */

}

ul {
  /* background-color: purple; */
  /* padding: 20px; */

  width: 80%;
  
  display: flex;
  flex-direction: column;
  gap:12px;
}

  .summary__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 12px 14px;
    background-color: rgb(179, 107, 1);
    /* margin: 5px; */

  }

    .summary__item div {
      display: flex;
      align-items: center;
      gap: 6px;
    }

  .summary__item--red {
    background-color: rgb(60, 102, 5);
    
  }

  .btn {
    margin-top: auto;
    border-style: none;
    box-shadow: none;
  }